@import url("./reset.css");

/* Aplicando box-sizing para todos os elementos */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0; 
  padding: 0;
  background-color: hsl(0, 0%, 95%);
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 20px;
}

main div.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1200px; /* Limita a largura máxima */
  margin: 0 auto; /* Centraliza a container horizontalmente */
  padding: 20px; /* Adiciona espaçamento */
  width: 100%; /* Ocupar toda a largura disponível */
}

main div.img-producto img {
  border-radius: 20px 0 0 20px;
  width: 100%;
}

.img-producto {
  grid-column: 1; /* Ocupa a primeira coluna */
  grid-row: 1; /* Ocupa a primeira fila */
}

main div.info-producto {
  grid-column: 2; /* Ocupa a segunda coluna */
  grid-row: 1; /* Ocupa a primeira fila */
  display: flex;
  flex-direction: column;
  border-radius: 0 20px 20px 0;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  height: auto;
  line-height: 1.2;
  align-items: center;
  padding: 50px 50px 0 50px;
  margin: 0 auto;
}

main div.info-producto h1 {
  align-self: flex-start;
}

main div.info-producto > p {
  margin: 20px 0; /* Ajustado para espaçamento uniforme */
  font-size: 20px;
}

div.precio {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

main div.info-producto button {
  width: 50%;
  height: 50px; /* Ajuste da altura para um valor fixo */
  margin: 30px 0;
  color: hsl(0, 0%, 100%);
  background-color: hsl(158, 36%, 37%);
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  transition: background-color 0.3s ease; /* Transição suave */
}

main div.info-producto button:hover {
  background-color: hsl(158, 36%, 20%);
}

h1 {
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 20px;
}

h1, .info-producto p, p.precio-normal {
  color: hsl(228, 12%, 48%);
  width: auto;
}

h2 {
  font-size: 5rem;
  letter-spacing: 5px;
}

h1, p {
  font-family: "Montserrat", serif;
  font-size: 14px;
}

h2, p.precio-actual {
  font-family: "Fraunces", serif;
}

p.precio-actual {
  color: hsl(158, 36%, 37%);
  align-self: flex-start;
  width: auto;
  font-size: 3rem;
}

.precio-normal {
  text-decoration: line-through;
  margin-left: 50px;
  color: hsl(0, 0%, 50%); /* Cor mais suave para preço normal */
}

/* FOOTER */
footer {
  padding: 50px 0;
  text-align: center;
}

footer .attribution {
  font-size: 20px;
}

footer .attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
  font-weight: bold;
}
